<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="hcaptcha-sitekey" content="{{ hcaptcha_sitekey }}">
        <meta name="hcaptcha-credentials-found" content="{{ hcaptcha_credentials_found }}">
        <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Alpaca" />
        <link rel="manifest" href="/static/favicon/site.webmanifest" />
		<title>{% block title %}{% endblock %} - Alpaca Arcade</title>
		<link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
	</head>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	<body>
		<main>
			{% block main %}{% endblock %}
		</main>

    <script>
      if (document.querySelector('meta[name="hcaptcha-credentials-found"]').content == "False") 
      console.warn("hcaptcha credential missings\nHigh score flow will not work");
    </script>
	</body>
</html>
