:root {
    --theme-darkest: #379237;
    --theme-dark: #54B435;
    --theme-accent: #F0FF42;
    --theme-light: #82CD47;
    --border-thick: 5px;

}

* {
        box-sizing: border-box;
}

.neon-border {
    border: var(--border-thick) solid var(--theme-light);
    box-shadow: 0 0 5px var(--theme-light);
}

body {
        margin: 0;
    background-color: #000517;
}
