{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
{% endblock %}

{% block main %}
<script>const minesweeperScoresEasy = {{ minesweeper_scores_easy | tojson }};</script>
<script>const minesweeperScoresMedium = {{ minesweeper_scores_medium | tojson }};</script>
<script>const minesweeperScoresHard = {{ minesweeper_scores_hard | tojson }};</script>
<div class="main-container">
    <a href="/">
        <img src="/static/images/logo_mini.svg" alt="Alpaca Arcade logo mini" width=80 height=80>
    </a>
    <div class="hero">
        <h1 class="lit">{% block title %}MINESWEEPER{% endblock %}</h1>
    </div>
    <div>
        <a class="play-button" href="{{ url_for('play.index') }}"></a>
        <p class="play-button-label lit">PLAY</p>
    </div>
    <div class="leaderboard-container neon-border">
        <h2>Leaderboard</h2>
        <div class="leaderboards"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='leaderboard.js') }}"></script>
    
{% endblock %}
