<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8">
		<title>{% block title %}{% endblock %} - Hackathon</title>
		<link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
	</head>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	<body>
		<main>
            <script src="{{ url_for("static", filename="components.js") }}" type="module"></script>
			{% block main %}{% endblock %}
		</main>
	</body>
</html>
