{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='jkg.css') }}">
{% endblock %}

{% block main %}
<script>const minesweeperScoresEasy = {{ minesweeper_scores_easy | tojson }};</script>
<script>const minesweeperScoresMedium = {{ minesweeper_scores_medium | tojson }};</script>
<script>const minesweeperScoresHard = {{ minesweeper_scores_hard | tojson }};</script>
<div class="main-container">
    <div class="hero">
        <h1 class="display-1">{% block title %}BOOTSWEEPER{% endblock %}</h1>
    </div>
    <div class="play-button-container">
        <a class="play-button" href="{{ url_for('play.index') }}"></a>
        <p class="play-button-label lit">PLAY</p>
    </div>
    <div class="leaderboard-container">
        <h2>Leaderboard</h2>
        <div class="d-flex gap-5 leaderboard"></div>
    </div>
</div>


<script src="{{ url_for('static', filename='high_scores.js') }}"></script>
    
{% endblock %}